body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
.top-part {
    background-image: url(images/donation13.jpg);
    background-repeat: no-repeat;
    background-position:center;
    background-size:100%;
    width: 100%;
    height: 600px;
    text-align: center;
    color: white;
}
 h1{
    font-weight: 700;
    font-size: 65px;
    text-align: center;
    
}

a{
    text-decoration: none;
   background-color: rgb(255,89,89);
   color: white;
   padding: 10px;
   border-radius: 20px;
}
/* --------------------------------------------------------------Donate Today-------------------------------------------------------- */
.donate-today-section{
    color: black;
    text-align: center;
    /* margin: 50px; */

}
.donate-today-box p{
   background-color: gray;
   margin-bottom: 50px;
}
.donate-today-box{
    display: flex;
    justify-content: space-between;
    margin: 0px 100px 0px 100px;
}
.box-sizing{
    width: 80px;
    height: 80px;
    color: white;
    font-size: 30px;
    text-align: center;
    padding: 40px;
    border-radius: 20px;
}
#box-sizing-unique{
    background-color:rgb(255,89,89) ;
     width: 80px;
    height: 80px;
    color: white;
    font-size: 30px;
    text-align: center;
      padding: 40px;
       border-radius: 20px;

}
input{
    background-color: antiquewhite;
    width: 200px;
    height: 30px;
    margin-bottom: 20px;
}
hr{
    margin-left:20%;
    margin-right: 20%;
    margin-bottom: 30px;
    color: gray;
   
}
/* -----------------------------------------------Donate plan----------------------------------------------------------------------- */

.donate-plane p{
    font-size: 18px;
    margin: 0% 20% 0% 20%;
    }
.donate-plan-flex{
    display: flex;
    margin-top:50px;
}    
.food{
    margin: 30px;
 
    background-color:rgb(237,245,246);
    text-align: center;
    border-radius: 20px;
}
.education{
    margin: 30px;
   
    background-color:rgb(255,238,238);
    text-align: center;
    border-radius: 20px;
}
.family{
    margin: 30px;

    background-color:rgb(255,245,214);
    text-align: center;
    border-radius: 20px;
}
